
body{
    background-color: #c8ddff;
    color: #081758;
}

section{
    margin: 5%;
    padding: 1%;
    background-color: #ebeeff;
    border-radius: 5rem;
}

.tabOpe{
    margin: 1rem;
    border-bottom: 2rem solid #1764ff;
}

.erreur{
    color: red;
    background-color: #ffeced;
    border-radius: 5rem;
}